.aboutPageContainer {
  height: 100vh;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  height: 5%;
  text-align: end;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  height: 40%;
  width: 80%;
  display: flex;
}

.aboutTextContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: justify;
  padding: 25px;
  font-weight: 100;
}

.aboutImgContainer {
  flex: 1;
}

.aboutImg {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  opacity: 0.75;
  object-fit: cover;
}

.aboutImg:hover {
  cursor: none;
  opacity: 1;
  transition: 0.5s;
}
